@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
body {
  font-family: "Signika Negative", sans-serif;
}

.border-b {
  border-bottom: 5px solid darkblue;
  border-radius: 5px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.8) 0 6px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3 ease-in;
  cursor: pointer;
}
.border-b:hover {
  transform: scale(1.05);
}
.borders-y {
  border-bottom: 5px solid darkgoldenrod;
  border-radius: 5px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08) 0 6px 10px rgba(0, 0, 0, 0.05);
  transition: 0.3 ease-in;
  cursor: pointer;
}

.borders-y:hover {
  transform: scale(1.15);
}
.widget-open {
  transition: box-shadow 0.5s;
  float: left;
}
.widget-open:hover {
  box-shadow: 0 0 11px rgba(31, 231, 13, 0.699);
}
.widget-pending {
  transition: box-shadow 0.5s;
  float: left;
}
.widget-pending:hover {
  box-shadow: 0 0 11px rgba(19, 101, 224, 0.829);
}
.widget-closed {
  transition: box-shadow 0.5s;
  float: left;
}
.widget-closed:hover {
  box-shadow: 0 0 11px rgba(179, 224, 13, 0.815);
}
.widget-blocked {
  transition: box-shadow 0.8s;
  float: left;
}
.widget-blocked:hover {
  box-shadow: 0 0 11px rgba(231, 64, 13, 0.801);
}
